<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/20685f7bf1.js" crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="burgerMenu">
            <div id="mySidenav" class="sidenav">
                <a id="closeBtn" href="#" class="close">×</a>
                <ul>
                  <li><a href="./home.html">Accueil</a></li>
                  <li><a href="./ourCreations.html">Nos créations</a></li>
                  <li><a href="./listCreations.html">Ma personnalisation</a></li>
                  <li><a href="./contact.html">Contact</a></li>
                </ul>
              </div>
              
              <a href="#" id="openBtn">
                <span class="burger-icon">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </a>
            </div>
        <div class="containerTitleWS">
            <h1>KeycapCustom</h1>
        </div>
        <nav>
            <ul>
                <li id="li1"><a href="./home.html">Accueil</li></a> 
                <li id="li2"><a href="./ourCreations.html">Nos créations</li></a>
                <li id="li3"><a href="./listCreations.html">Ma personnalisation</li></a> 
                <li id="li4"><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="userLogo">
            <div class="buttonUser">
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="dropDownMenu">
                    <ul>
                        <a href=""><li>Mon profil</li></a>
                        <a href=""><li>Mes commandes</li></a>
                        <a href=""><li>Déconnexion</li></a>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- Main -->
    <main id="home">
        <section class="firstContent">
            <div class="mainFirst">
                <h2>UN CLAVIER QUI VOUS <i>RESSEMBLE</i></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quod fugiat cum dolore placeat perferendis itaque at hic? Aliquam minima sunt nam nemo perspiciatis hic, amet obcaecati ut beatae recusandae.</p>
                <button>Nos créations</button>
            </div>
            <div class="mainSecond">
                <div><img src="../pics/cc1.png" alt=""></div>
            </div>
        </section>
        <div class="seeNext">
            <div class="arrowDown">
                <div class="circle"></div>
                <a href="#secondContent"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
            </div>
        </div>
        <section id="secondContent" class="secondContent">
            <h2>Les touches de votre clavier à personnaliser selon vos envies</h2>
            <section class="globalArticleContainer">
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc2.avif" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Nom du clavier</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, corporis? Perferendis, illo sapiente quasi, officia maxime praesentium cupiditate libero pariatur magni ipsum nihil doloribus earum beatae corrupti repudiandae dolore cum?</p>
                        <button>Découvrir</button>
                    </div>
                </div>
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc3.jpeg" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Nom du clavier</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, corporis? Perferendis, illo sapiente quasi, officia maxime praesentium cupiditate libero pariatur magni ipsum nihil doloribus earum beatae corrupti repudiandae dolore cum?</p>
                        <button>Découvrir</button>
                    </div>
                </div>
            </section>
            <section class="globalArticleContainerFooter">
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc2.avif" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Nom du clavier</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, corporis? Perferendis, illo sapiente quasi, officia maxime praesentium cupiditate libero pariatur magni ipsum nihil doloribus earum beatae corrupti repudiandae dolore cum?</p>
                        <button>Découvrir</button>
                    </div>
                </div>
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc3.jpeg" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Nom du clavier</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, corporis? Perferendis, illo sapiente quasi, officia maxime praesentium cupiditate libero pariatur magni ipsum nihil doloribus earum beatae corrupti repudiandae dolore cum?</p>
                        <button>Découvrir</button>
                    </div>
                </div>
            </section>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <div class="higherPartFooter">
            <div class="titleFooter">
                <h1>KeycapCustom</h1>
            </div>
            <div class="mentions">
                <ul>
                    <li><a href="">CGV</a></li>
                    <li><a href="">Mentions légales</a></li>
                    <li><a href="">A propos</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="lowerPartFooter">
            <ul>
                <a href=""><li><i class="fa fa-twitter" aria-hidden="true"></i></li></a>
                <a href=""><li><i class="fa fa-facebook" aria-hidden="true"></i></li></a>
                <a href=""><li><i class="fa fa-instagram" aria-hidden="true"></i></li></a>
            </ul>
        </div>
    </footer>
</body>
</html>