<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Liste de vos créations</title>
        <link rel="stylesheet" href="../css/style.css">
        <script src="https://kit.fontawesome.com/20685f7bf1.js" crossorigin="anonymous"></script>
    </head>
<body>
    <!-- Header -->
    <header>
        <div>
            <h1>KeycapCustom</h1>
        </div>
        <nav>
            <ul>
                <li id="li1"><a href="./home.html">Accueil</li></a> 
                <li id="li2"><a href="./ourCreations.html">Nos créations</li></a>
                <li id="li3"><a href="./listCreations.html">Ma personnalisation</li></a> 
                <li id="li4"><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="userLogo">
            <div class="buttonUser">
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="dropDownMenu">
                    <ul>
                        <a href=""><li>Mon profil</li></a>
                        <a href=""><li>Mes commandes</li></a>
                        <a href=""><li>Déconnexion</li></a>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- Main -->
    <main id="listCreations">
        <div class="mainContent">
            <div class="containerBox">
                <div class="topBar">
                    <h2>Liste de vos créations</h2>
                    <a href="./formNewCreation.html"><button>Commencer une nouvelle création</button></a>
                </div>
                <div class="scroller">
                    <div class="containerCreation">
                        <div class="boxIn">
                            <div>
                                <p>Numéro de la commande :</p>
                            </div>
                            <div>
                                <p>Nombre de keycap :</p>
                                <p>Type de clavier :</p>
                            </div>
                            <div>
                                <p>Création commencer le :</p>
                                <p>Dernière modification :</p>
                            </div>
                            <div class="buttonBox">
                                <a href="./detailsCreation.html"><button id="bDetails">Détails</button></a>
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bCommand">Commander</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            <div>
                                <p>Numéro de la commande :</p>
                            </div>
                            <div>
                                <p>Nombre de keycap :</p>
                                <p>Type de clavier :</p>
                            </div>
                            <div>
                                <p>Création commencer le :</p>
                                <p>Dernière modification :</p>
                            </div>
                            <div class="buttonBox">
                                <a href=""><button id="bDetails">Détails</button></a>
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bCommand">Commander</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            <div>
                                <p>Numéro de la commande :</p>
                            </div>
                            <div>
                                <p>Nombre de keycap :</p>
                                <p>Type de clavier :</p>
                            </div>
                            <div>
                                <p>Création commencer le :</p>
                                <p>Dernière modification :</p>
                            </div>
                            <div class="buttonBox">
                                <a href=""><button id="bDetails">Détails</button></a>
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bCommand">Commander</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            <div>
                                <p>Numéro de la commande :</p>
                            </div>
                            <div>
                                <p>Nombre de keycap :</p>
                                <p>Type de clavier :</p>
                            </div>
                            <div>
                                <p>Création commencer le :</p>
                                <p>Dernière modification :</p>
                            </div>
                            <div class="buttonBox">
                                <a href=""><button id="bDetails">Détails</button></a>
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bCommand">Commander</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            <div>
                                <p>Numéro de la commande :</p>
                            </div>
                            <div>
                                <p>Nombre de keycap :</p>
                                <p>Type de clavier :</p>
                            </div>
                            <div>
                                <p>Création commencer le :</p>
                                <p>Dernière modification :</p>
                            </div>
                            <div class="buttonBox">
                                <a href=""><button id="bDetails">Détails</button></a>
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bCommand">Commander</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            <div>
                                <p>Numéro de la commande :</p>
                            </div>
                            <div>
                                <p>Nombre de keycap :</p>
                                <p>Type de clavier :</p>
                            </div>
                            <div>
                                <p>Création commencer le :</p>
                                <p>Dernière modification :</p>
                            </div>
                            <div class="buttonBox">
                                <a href=""><button id="bDetails">Détails</button></a>
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bCommand">Commander</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            <div>
                                <p>Numéro de la commande :</p>
                            </div>
                            <div>
                                <p>Nombre de keycap :</p>
                                <p>Type de clavier :</p>
                            </div>
                            <div>
                                <p>Création commencer le :</p>
                                <p>Dernière modification :</p>
                            </div>
                            <div class="buttonBox">
                                <a href=""><button id="bDetails">Détails</button></a>
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bCommand">Commander</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            <div>
                                <p>Numéro de la commande :</p>
                            </div>
                            <div>
                                <p>Nombre de keycap :</p>
                                <p>Type de clavier :</p>
                            </div>
                            <div>
                                <p>Création commencer le :</p>
                                <p>Dernière modification :</p>
                            </div>
                            <div class="buttonBox">
                                <a href=""><button id="bDetails">Détails</button></a>
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bCommand">Commander</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <footer>
        <div class="higherPartFooter">
            <div class="titleFooter">
                <h1>KeycapCustom</h1>
            </div>
            <div class="mentions">
                <ul>
                    <li><a href="">CGV</a></li>
                    <li><a href="">Mentions légales</a></li>
                    <li><a href="">A propos</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="lowerPartFooter">
            <ul>
                <a href=""><li><i class="fa fa-twitter" aria-hidden="true"></i></li></a>
                <a href=""><li><i class="fa fa-facebook" aria-hidden="true"></i></li></a>
                <a href=""><li><i class="fa fa-instagram" aria-hidden="true"></i></li></a>
            </ul>
        </div>
    </footer>
</body>
</html>