<!-- Header -->
<header>
    <div>
        <h1>KeycapCustom</h1>
    </div>
    <nav>
        <ul>
            <li>Accueil</li>
            <li>Nos créations</li>
            <li>Ma personnalisation</li>
            <li>Contact</li>
        </ul>
    </nav>
    <div class="userLogo">
        <div class="buttonUser">
            <i class="fa fa-user" aria-hidden="true"></i>
            <div class="dropDownMenu">
                <ul>
                    <a href=""><li>Mon profil</li></a>
                    <a href=""><li>Mes commandes</li></a>
                    <a href=""><li>Déconnexion</li></a>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- Footer -->
<footer>
    <div class="higherPartFooter">
        <div class="titleFooter">
            <h1>KeycapCustom</h1>
        </div>
        <div class="mentions">
            <ul>
                <li><a href="">CGV</a></li>
                <li><a href="">Mentions légales</a></li>
                <li><a href="">A propos</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="lowerPartFooter">
        <ul>
            <a href=""><li><i class="fa fa-twitter" aria-hidden="true"></i></li></a>
            <a href=""><li><i class="fa fa-facebook" aria-hidden="true"></i></li></a>
            <a href=""><li><i class="fa fa-instagram" aria-hidden="true"></i></li></a>
        </ul>
    </div>
</footer>