<main id="newCreation">
{{ form_start(form) }}
        
            {{ form_widget(form) }}

            <button style="auto; margin-top: 20px ; color:white; border: 2px solid white;" class="btn">{{ button_label|default('Save') }}</button>
        
{{ form_end(form) }}
</main>
