{% extends 'base.html.twig' %}

{# {% block title %}Hello UserController!{% endblock %} #}

{% block body %}

<!-- Main -->
    <main id="detailsCreation">
        <section class="mainContent">
            <div class="containerBox">
                <div class="topBar">
                    <h2>Details de la création N°: </h2>
                    
                </div>
                <section class="scroller">
                    <div class="containerCreation">
                        <div class="boxIn">
                            
                            <div>
                                <p>Touche : ALT</p>
                                <p>Police : Arial</p>
                                <p>Couleur : Black </p>
                            </div>
                            <div class="buttonBox">
                                <img src="../pics/kc1.png" alt="">
                                <a href="/modify-creation"><button id="bModify">Modifier</button></a>
                                <a href=""><button id="bSupp">Supprimer</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            
                            <div>
                                <p>Touche :</p>
                                <p>Police :</p>
                                <p>Couleur :</p>
                            </div>
                            <div class="buttonBox">
                                <img src="../pics/kc1.png" alt="">
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bModify">Modifier</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            
                            <div>
                                <p>Touche :</p>
                                <p>Police :</p>
                                <p>Couleur :</p>
                            </div>
                            <div class="buttonBox">
                                <img src="../pics/kc1.png" alt="">
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bModify">Modifier</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            
                            <div>
                                <p>Touche :</p>
                                <p>Police :</p>
                                <p>Couleur :</p>
                            </div>
                            <div class="buttonBox">
                                <img src="../pics/kc1.png" alt="">
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bModify">Modifier</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            
                            <div>
                                <p>Touche :</p>
                                <p>Police :</p>
                                <p>Couleur :</p>
                            </div>
                            <div class="buttonBox">
                                <img src="../pics/kc1.png" alt="">
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bModify">Modifier</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            
                            <div>
                                <p>Touche :</p>
                                <p>Police :</p>
                                <p>Couleur :</p>
                            </div>
                            <div class="buttonBox">
                                <img src="../pics/kc1.png" alt="">
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bModify">Modifier</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            
                            <div>
                                <p>Touche :</p>
                                <p>Police :</p>
                                <p>Couleur :</p>
                            </div>
                            <div class="buttonBox">
                                <img src="../pics/kc1.png" alt="">
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bModify">Modifier</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            
                            <div>
                                <p>Touche :</p>
                                <p>Police :</p>
                                <p>Couleur :</p>
                            </div>
                            <div class="buttonBox">
                                <img src="../pics/kc1.png" alt="">
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bModify">Modifier</button></a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </main>

{% endblock %}