{% extends 'base.html.twig' %}

{# {% block title %}Hello UserController!{% endblock %} #}

{% block body %}
    <!-- Main -->
    <main id="home">
        <section class="firstContent">
            <div class="mainFirst">
                <h2>UN CLAVIER QUI VOUS <i>RESSEMBLE</i></h2>
                <p>Notre site vous propose une personnalisation manuelle de vos touches de clavier (KeyCaps), nous vous proposons de choisir la police d'écriture sur le clavier ainsi que la couleur de chancune des touches. Dans l'onglet "Ma personnalisation" vous pourrez commencer une création ou afficher la liste de celle déjà commencer.</p>
                <button>Nos créations</button>
            </div>
            <div class="mainSecond">
                <div><img src="../pics/cc1.png" alt=""></div>
            </div>
        </section>
        <div class="seeNext">
            <div class="arrowDown">
                <div class="circle"></div>
                <a href="#secondContent"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
            </div>
        </div>
        <section id="secondContent" class="secondContent">
            <h2>Les touches de votre clavier à personnaliser selon vos envies</h2>
            <section class="globalArticleContainer">
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc2.avif" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Nom du clavier</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, corporis? Perferendis, illo sapiente quasi, officia maxime praesentium cupiditate libero pariatur magni ipsum nihil doloribus earum beatae corrupti repudiandae dolore cum?</p>
                        <button>Découvrir</button>
                    </div>
                </div>
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc3.jpeg" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Nom du clavier</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, corporis? Perferendis, illo sapiente quasi, officia maxime praesentium cupiditate libero pariatur magni ipsum nihil doloribus earum beatae corrupti repudiandae dolore cum?</p>
                        <button>Découvrir</button>
                    </div>
                </div>
            </section>
            <section class="globalArticleContainerFooter">
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc2.avif" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Nom du clavier</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, corporis? Perferendis, illo sapiente quasi, officia maxime praesentium cupiditate libero pariatur magni ipsum nihil doloribus earum beatae corrupti repudiandae dolore cum?</p>
                        <button>Découvrir</button>
                    </div>
                </div>
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc3.jpeg" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Nom du clavier</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, corporis? Perferendis, illo sapiente quasi, officia maxime praesentium cupiditate libero pariatur magni ipsum nihil doloribus earum beatae corrupti repudiandae dolore cum?</p>
                        <button>Découvrir</button>
                    </div>
                </div>
            </section>
        </section>
    </main>
{% endblock %}
