{% extends 'base.html.twig' %}

{# {% block title %}Hello UserController!{% endblock %} #}

{% block body %}

<!-- Main -->
    <main id="listCreations">
        <div class="mainContent">
            <div class="containerBox">
                <div class="topBar">
                    <h2>Liste de vos créations</h2>
                    <a href="/new-creation"><button>Commencer une nouvelle création</button></a>
                </div>
                <div class="scroller">
                    <div class="containerCreation">
                        <div class="boxIn">
                            <div>
                                <p>Numéro de la commande :</p>
                            </div>
                            <div>
                                <p>Nombre de keycap :</p>
                                <p>Type de clavier :</p>
                            </div>
                            <div>
                                <p>Création commencer le :</p>
                                <p>Dernière modification :</p>
                            </div>
                            <div class="buttonBox">
                                <a href="/details-creation"><button id="bDetails">Détails</button></a>
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bCommand">Commander</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            <div>
                                <p>Numéro de la commande :</p>
                            </div>
                            <div>
                                <p>Nombre de keycap :</p>
                                <p>Type de clavier :</p>
                            </div>
                            <div>
                                <p>Création commencer le :</p>
                                <p>Dernière modification :</p>
                            </div>
                            <div class="buttonBox">
                                <a href=""><button id="bDetails">Détails</button></a>
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bCommand">Commander</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            <div>
                                <p>Numéro de la commande :</p>
                            </div>
                            <div>
                                <p>Nombre de keycap :</p>
                                <p>Type de clavier :</p>
                            </div>
                            <div>
                                <p>Création commencer le :</p>
                                <p>Dernière modification :</p>
                            </div>
                            <div class="buttonBox">
                                <a href=""><button id="bDetails">Détails</button></a>
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bCommand">Commander</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            <div>
                                <p>Numéro de la commande :</p>
                            </div>
                            <div>
                                <p>Nombre de keycap :</p>
                                <p>Type de clavier :</p>
                            </div>
                            <div>
                                <p>Création commencer le :</p>
                                <p>Dernière modification :</p>
                            </div>
                            <div class="buttonBox">
                                <a href=""><button id="bDetails">Détails</button></a>
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bCommand">Commander</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            <div>
                                <p>Numéro de la commande :</p>
                            </div>
                            <div>
                                <p>Nombre de keycap :</p>
                                <p>Type de clavier :</p>
                            </div>
                            <div>
                                <p>Création commencer le :</p>
                                <p>Dernière modification :</p>
                            </div>
                            <div class="buttonBox">
                                <a href=""><button id="bDetails">Détails</button></a>
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bCommand">Commander</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            <div>
                                <p>Numéro de la commande :</p>
                            </div>
                            <div>
                                <p>Nombre de keycap :</p>
                                <p>Type de clavier :</p>
                            </div>
                            <div>
                                <p>Création commencer le :</p>
                                <p>Dernière modification :</p>
                            </div>
                            <div class="buttonBox">
                                <a href=""><button id="bDetails">Détails</button></a>
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bCommand">Commander</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            <div>
                                <p>Numéro de la commande :</p>
                            </div>
                            <div>
                                <p>Nombre de keycap :</p>
                                <p>Type de clavier :</p>
                            </div>
                            <div>
                                <p>Création commencer le :</p>
                                <p>Dernière modification :</p>
                            </div>
                            <div class="buttonBox">
                                <a href=""><button id="bDetails">Détails</button></a>
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bCommand">Commander</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="containerCreation">
                        <div class="boxIn">
                            <div>
                                <p>Numéro de la commande :</p>
                            </div>
                            <div>
                                <p>Nombre de keycap :</p>
                                <p>Type de clavier :</p>
                            </div>
                            <div>
                                <p>Création commencer le :</p>
                                <p>Dernière modification :</p>
                            </div>
                            <div class="buttonBox">
                                <a href=""><button id="bDetails">Détails</button></a>
                                <a href=""><button id="bSupp">Supprimer</button></a>
                                <a href=""><button id="bCommand">Commander</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}