{% extends 'base.html.twig' %}

{# {% block title %}Hello UserController!{% endblock %} #}

{% block body %}
<!-- Main -->
    <main id="ourCreations">
        <div id="secondContent" class="secondContent">
            <h2>Les touches de votre clavier à personnaliser selon vos envies</h2>
            <div class="globalArticleContainer">
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc2.avif" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Cyborg Keyboard</h3>
                        <p>"Cyborg Keyboard" est un clavier mécanique avec des keycaps custom en vert , gris et blanc.</p>
                        
                    </div>
                </div>
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc3.jpeg" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Red&White</h3>
                        <p>"Red&White" est un clavier mécanique avec des keycaps custom en partie rouge, et sa couleur de font est blanche avec simplement entrée ainsi que echat en noir.</p>
                        
                    </div>
                </div>
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc6.jpeg" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Ocean</h3>
                        <p>"Ocean dream" est un clavier mécanique avec des keycaps custom qui sont composer de variance de bleu.</p>
                        
                    </div>
                </div>
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc5.jpeg" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Gray variant</h3>
                        <p>"Gray variant" est un clavier mécanique avec des keycaps custom, sur celui ci nous pouvons voir que ça se compose de gris et bleu avec en partie les partie "touches de modification" en bleu.</p>
                        
                    </div>
                </div>
            </div>
    </main>
{% endblock %}