{% extends 'base.html.twig' %}

{# {% block title %}Hello UserController!{% endblock %} #}

{% block body %}
<!-- Main -->
    <main id="ourCreations">
        <div id="secondContent" class="secondContent">
            <h2>Les touches de votre clavier à personnaliser selon vos envies</h2>
            <div class="globalArticleContainer">
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc2.avif" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Nom du clavier</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, corporis? Perferendis, illo sapiente quasi, officia maxime praesentium cupiditate libero pariatur magni ipsum nihil doloribus earum beatae corrupti repudiandae dolore cum?</p>
                        
                    </div>
                </div>
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc3.jpeg" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Nom du clavier</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, corporis? Perferendis, illo sapiente quasi, officia maxime praesentium cupiditate libero pariatur magni ipsum nihil doloribus earum beatae corrupti repudiandae dolore cum?</p>
                        
                    </div>
                </div>
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc2.avif" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Nom du clavier</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, corporis? Perferendis, illo sapiente quasi, officia maxime praesentium cupiditate libero pariatur magni ipsum nihil doloribus earum beatae corrupti repudiandae dolore cum?</p>
                        
                    </div>
                </div>
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc3.jpeg" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Nom du clavier</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, corporis? Perferendis, illo sapiente quasi, officia maxime praesentium cupiditate libero pariatur magni ipsum nihil doloribus earum beatae corrupti repudiandae dolore cum?</p>
                        
                    </div>
                </div>
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc2.avif" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Nom du clavier</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, corporis? Perferendis, illo sapiente quasi, officia maxime praesentium cupiditate libero pariatur magni ipsum nihil doloribus earum beatae corrupti repudiandae dolore cum?</p>
                        
                    </div>
                </div>
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc3.jpeg" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Nom du clavier</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, corporis? Perferendis, illo sapiente quasi, officia maxime praesentium cupiditate libero pariatur magni ipsum nihil doloribus earum beatae corrupti repudiandae dolore cum?</p>
                        
                    </div>
                </div>
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc2.avif" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Nom du clavier</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, corporis? Perferendis, illo sapiente quasi, officia maxime praesentium cupiditate libero pariatur magni ipsum nihil doloribus earum beatae corrupti repudiandae dolore cum?</p>
                        
                    </div>
                </div>
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc3.jpeg" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Nom du clavier</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, corporis? Perferendis, illo sapiente quasi, officia maxime praesentium cupiditate libero pariatur magni ipsum nihil doloribus earum beatae corrupti repudiandae dolore cum?</p>
                        
                    </div>
                </div>
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc2.avif" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Nom du clavier</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, corporis? Perferendis, illo sapiente quasi, officia maxime praesentium cupiditate libero pariatur magni ipsum nihil doloribus earum beatae corrupti repudiandae dolore cum?</p>
                        
                    </div>
                </div>
                <div class="containerArticle">
                    <div class="picContainer">
                        <img src="../pics/cc3.jpeg" alt="">
                    </div>
                    <div class="contentArticle">
                        <h3>Nom du clavier</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, corporis? Perferendis, illo sapiente quasi, officia maxime praesentium cupiditate libero pariatur magni ipsum nihil doloribus earum beatae corrupti repudiandae dolore cum?</p>
                        
                    </div>
                </div>
            </div>
    </main>
{% endblock %}